@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-surface: #f8fafc;

  --color-text: #0f172a;
  --color-text-muted: #64748b;
  
  --color-primary: #2563eb;
  --color-secondary: #9333ea;
  --color-accent: #f59e0b;
  
  --color-outline: #464646;
  --color-gray: #94a3b8;
  
  --color-success: #16a34a;
  --color-warning: #ca8a04;
  --color-error: #dc2626;
  --color-info: #0284c7;
}

:where(.dark) {
  --color-surface: #1e293b;

  --color-text: #f8fafc;
  --color-text-muted: #94a3b8;

  --color-primary: #3b82f6;
  --color-secondary: #a855f7;
  --color-accent: #fbbf24;

  --color-outline: #334155;
  --color-gray: #64748b;
  
  --color-success: #22c55e;
  --color-warning: #eab308;
  --color-error: #ef4444;
  --color-info: #38bdf8;
}